Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml

Correct accidental regression
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Revert multilevellookup
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Revert "Revert multilevellookup"
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Add additional .NET 5.0 tests and install 2.1 and 3.1 SDKs (Linux and Mac)
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct some warnings
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/TaggedAudioFileTests.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try skipping the net48 tests to see if netcoreapp2.1 code coverage is also busted on Windows
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Remove old netcoreapp2.1 AudioWorks.Commands directory which no longer exists
  netcoreapp2.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Try skipping the net48 tests to see if netcoreapp2.1 code coverage is also busted on Windows"
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Update Microsoft.Powershell.SDK
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Rework preprocessing into a function
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct syntax
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try disabling all the AudioWorks.Commands tests (coverage troubleshooting)
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Replace runsettings with command-line arguments
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Revert "Try disabling all the AudioWorks.Commands tests (coverage troubleshooting)"
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Replace runsettings with command-line arguments
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Disable appdomains using a command line argument instead of xunit.runner.json
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/xunit.runner.json
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/xunit.runner.json
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/xunit.runner.json
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Replace runsettings with command-line argument
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove obsolete runsettings files
  install.runsettings
  net462.runsettings
  net5.0.runsettings
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

disable appdomains when installing extensions (fix pipeline failure)
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Remove deterministic build workaround
  AudioWorks/Directory.Build.targets
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Minor formatting corrections
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Remove deterministic build workaround"
  AudioWorks/Directory.Build.targets
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Don't run the InstallAsyncInstallsExtensions test twice
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Remove unnecessary coverage inclusions
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Don't run the InstallAsyncInstallsExtensions test twice
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Remove unnecessary coverage inclusions
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Disable appdomains when testing AudioWorks.Commands as well
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Try not escaping the !
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Run both ExtensionInstallerTests together
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated Moq
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try reinstating xunit.runner.json to see if it fixes code coverage
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/xunit.runner.json
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Try reinstating xunit.runner.json to see if it fixes code coverage"
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/xunit.runner.json
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add .net 5.0 (PowerShell 7.1) and drop netcoreapp2.1 (PowerShell 6.x - end of life)
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.psm1
  AudioWorks/src/AudioWorks.Commands/PublishModule.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update README.md
  README.md
Due: none

Bump minor version
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.psd1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add net5.0 target
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Bump minor version.
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Drop netstandard2.1 target - netstandard2.0 is enough
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Drop netstandard2.1 for net5.0
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Bump minor version
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml
