Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml

Corrected path to AudioWorks.Commands.dll
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Another minor path correction
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Minor renaming.
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated DataFlow.
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

NuGet resolver updated.
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Microsoft.Extensions.Configuration and Logging updates.
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated PowerShell SDK.
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update xunit Visual Studio runner
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated Logging Abstractions package
  AudioWorks/tests/AudioWorks.TestUtilities/AudioWorks.TestUtilities.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated Coverlet
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Better cancellation handling (clean up files, handle and log the cancellation)
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Clean up after unexpected exceptions as well as timeouts.
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update README.md
  README.md
Due: none

Remove workarounds for build images.
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Reinstate Restore as workaround
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Re-add extension directories to code coverage analysis.
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct extension paths.
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add hashes for AoTuV + Lancer build on Linux / AMD.
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add the exception message to the warning.
  AudioWorks/src/AudioWorks.Extensibility/ExtensionContainerBase.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct libdl library name on Linux.
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/SafeNativeMethods.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try to exclude lib* files from code coverage to avoid crashes under MacOS / Linux.
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try just including the FLAC extension directory (troubleshooting)
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Troubleshooting - just try instrumenting the Wave extension
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Troubleshooting - try netcoreapp2.1 tests first
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Revert "Troubleshooting - try netcoreapp2.1 tests first"
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Revert "Troubleshooting - just try instrumenting the Wave extension"
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Try just including the FLAC extension directory (troubleshooting)"
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Try to exclude lib* files from code coverage to avoid crashes under MacOS / Linux."
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Troubleshooting - only test one project for now
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Run each of the test projects sequentially to avoid code coverage issues.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Run each of the test projects sequentially to avoid code coverage issues.
  azure-pipelines-linux.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-windows.yml

Try collecting code coverage on net462 target
  azure-pipelines-windows.yml
  net462.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated hash values for AppleAAC on Windows/AMD.
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

NuGet package updates.
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.TestUtilities/AudioWorks.TestUtilities.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Added hash values for Ubuntu 20.04.
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Added Ubuntu 20.04-compiled libraries
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/ubuntu.20.04-x64/libopusenc.so
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/ubuntu.20.04-x64/libvorbis.so
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/ubuntu.20.04-x64/libvorbisenc.so
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add Ubuntu 20.04 library selection logic.
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use switch expressions to select the best native library path.
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/LameLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Ebur128LibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Bump minor version.
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml
