Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml

Added nuget.exe download and alias.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Use a function instead of an alias.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Try calling mono nuget.exe directly.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Troubleshooting.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Updated builds.
  azure-pipelines-linux.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Added prerequisites.
  azure-pipelines-linux.yml
Due: none

Upgrade .NET Core.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Always upgrade .NET Core.
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix .NET Core upgrade step.
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update AAC results for MacOS 10.13.
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Troubleshooting output.
  azure-pipelines-linux.yml
Due: none

Missing dependencies on Linux, added full path for module directory, limited artifacts for Linux and MacOS,
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix PowerShell module path.
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix for missing test results.
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Replace APPVEYOR_BUILD_NUMBER with BUILD_BUILDID (Azure DevOps)
  AudioWorks/AudioWorks.sln
  AudioWorks/PerfTest/PerfTest.csproj
  AudioWorks/PerfTest/Program.cs
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add cmdlet module to artifacts.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Remove accidentally-commited test project.
  AudioWorks/AudioWorks.sln
  AudioWorks/PerfTest/PerfTest.csproj
  AudioWorks/PerfTest/Program.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Resolve syntax with copying artifacts.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Bump versions for beta1.
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.psd1
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Added creation and modification time tests.
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/SaveMetadataValidFileSource.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add CoverArtExtractor and Export-AudioCoverArt tests.
  AudioWorks/tests/AudioWorks.Api.Tests/CoverArtExtractorTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/ValidFileWithCoverArtDataSource.cs
  AudioWorks/tests/AudioWorks.Commands.Tests/ExportAudioCoverArtTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Don't create directories unnecessarily.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileEncoderTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/CoverArtExtractorTests.cs
  AudioWorks/tests/AudioWorks.Commands.Tests/ExportAudioFileTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

AudioFiles without cover art shouldn't write null to the pipeline.
  AudioWorks/src/AudioWorks.Commands/ExportAudioCoverArtCommand.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/ValidFileWithCoverArtDataSource.cs
  AudioWorks/tests/AudioWorks.Api.Tests/TaggedAudioFileTests.cs
  AudioWorks/tests/AudioWorks.Commands.Tests/ExportAudioCoverArtTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Avoid an allocation under .net core 2.1+
  AudioWorks/src/AudioWorks.Api/CoverArtExtractor.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Make OverWrite a property instead of a constructor argument.
  AudioWorks/src/AudioWorks.Api/CoverArtExtractor.cs
  AudioWorks/src/AudioWorks.Commands/ExportAudioCoverArtCommand.cs
  AudioWorks/tests/AudioWorks.Api.Tests/CoverArtExtractorTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Additional tests. Moved some validation logic around so that the correct exception is thrown.
  AudioWorks/src/AudioWorks.Extensibility/SampleBuffer.cs
  AudioWorks/tests/AudioWorks.Extensibility.Tests/SampleBufferTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update README.md
  README.md
Due: none

Additional tests.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileAnalyzerTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileEncoderTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Formatting.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileAnalyzerTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileEncoderTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/CoverArtExtractorTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Additional test.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/RenameValidFileDataSource.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Additional test.
  AudioWorks/tests/AudioWorks.Api.Tests/TaggedAudioFileTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Trivial formatting.
  AudioWorks/tests/AudioWorks.Api.Tests/TaggedAudioFileTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Additional tests.
  AudioWorks/tests/AudioWorks.Extensibility.Tests/SampleBufferTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Formatting.
  AudioWorks/tests/AudioWorks.Extensibility.Tests/SampleBufferTests.cs
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Simplify configurations and build for the local OS platform instead.
  AudioWorks/AudioWorks.sln
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  AudioWorks/tests/AudioWorks.TestUtilities/AudioWorks.TestUtilities.csproj
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml
