Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml

Switch to report generator task instead of manually running report generator, and remove the SDK/runtime/test framework installations.
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Disable regeneration of the code coverage report
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Re-apply workaround for build issues.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Install the missing .NET Core 2.1 SDK
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Re-install .NET Core 3.1 SDK so that 2.1 isn't used by default
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Enable debugging.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Apply workaround from https://developercommunity.visualstudio.com/content/problem/986056/azure-pipelines-hosted-agent-dotnetcorecli.html
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Turn on debug and try to run the net462 tests again
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Try separate test steps instead of manual publish
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Disable shadow copies
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/xunit.runner.json
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/xunit.runner.json
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add test run titles and try to fix include paths.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Renamed some items.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Switch to coverlet.collectors
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix path to code coverage reports
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Set the IncludeDirectory param in a runsettings file.
  AudioWorks/netcoreapp2.1.coverlet.runsettings
  AudioWorks/netcoreapp3.1.coverlet.runsettings
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct path to runsettings
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Move runsettings files to root
  azure-pipelines-windows.yml
  netcoreapp2.1.coverlet.runsettings
  netcoreapp3.1.coverlet.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Exclude the Test assemblies
  netcoreapp2.1.coverlet.runsettings
  netcoreapp3.1.coverlet.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try to fix runsettings.
  azure-pipelines-windows.yml
  netcoreapp2.1.runsettings.xml
  netcoreapp3.1.runsettings.xml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try specifying the full path to runsettings
  azure-pipelines-windows.yml
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix path
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Fix path to runsettings
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Corrected exclusion syntax
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Pre-process the runsettings files since environment variables don't seem to work
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Disable SourceLink for now.
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove debugging messages
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Replicate test changes from Windows
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Write the modified runsettings out to the console
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Write modified runsettings to console, and use forward slashes for paths on all platforms.
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove errant double quote
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Disable runsettings for now
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Revert "Disable runsettings for now"
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Remove failing include path for AudioWorks.Commands
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix syntax error
  netcoreapp2.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add details of extension installation
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Write the list of files installed with each extension.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Corrected extension path
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Try limiting the included extensions to only one
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add extension file details and stop trying to include extension assemblies (doesn't work on Mac or Linux)
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
  netcoreapp2.1.runsettings
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try adding commands search path
  netcoreapp3.1.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml
