Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

azure-pipelines-linux.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: runtime
      version: 2.1.x
    displayName: Install .NET Core 2.1 runtime
  - task: UseDotNet@2
    inputs:
      packageType: runtime
      version: 3.1.x
    displayName: Install .NET Core 3.1 runtime
  - task: DotNetCoreCLI@2
  ...

azure-pipelines-macos.yml:
  pool:
    vmImage: macOS-latest
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: AudioWorks/AudioWorks.sln
      arguments: --configuration $(buildConfiguration)
    displayName: Build $(buildConfiguration) configuration
  - task: DotNetCoreCLI@2
    inputs:
      command: pack
  ...

azure-pipelines-windows.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: AudioWorks\AudioWorks.sln
    displayName: Restore dependencies
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: AudioWorks\AudioWorks.sln
  ...

Whitespace correction
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/TextBuilder.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Building extensions now publishes them locally as well
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
  AudioWorks/src/Extensions/PublishLocally.ps1
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Simplify PackageReference syntax
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove unnecessary updatedb
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Don't try to create LocalFeed as it should already exist
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Create the LocalFeed directory if it doesn't already exist
  AudioWorks/src/Extensions/PublishLocally.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Publish locally after running the Pack target instead of PostBuildEvent
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add parameter validation
  AudioWorks/src/AudioWorks.Commands/PublishModule.ps1
  AudioWorks/src/Extensions/PublishLocally.ps1
  AudioWorks/tests/AudioWorks.Commands.Tests/CopyModule.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Download and run nuget.exe from TEMP on Linux/Mac
  AudioWorks/src/Extensions/PublishLocally.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use Join-Path where possible for better cross-platform support
  AudioWorks/src/AudioWorks.Commands/PublishModule.ps1
  AudioWorks/src/Extensions/PublishLocally.ps1
  AudioWorks/tests/AudioWorks.Commands.Tests/CopyModule.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Minor cleanup
  AudioWorks/src/Extensions/PublishLocally.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Allow use of prerelease extensions
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update README.md
  README.md
Due: none

Use the packaged version of nuget.exe instead of downloading
  AudioWorks/src/Extensions/PublishLocally.ps1
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

nuget package already included in build host
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Added debugging messages for troubleshooting
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Fix whitespace issue
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Remove dotnet restore step as it may no longer be needed
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Moved debug section
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Fix error when removing already-published extensions
  AudioWorks/src/Extensions/PublishLocally.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove testing block
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Try to use a nuget command already in PATH on Mac
  AudioWorks/src/Extensions/PublishLocally.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated System.Threading.Tasks.Dataflow
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated Microsoft.Extensions.Logging.Abstractions
  AudioWorks/tests/AudioWorks.TestUtilities/AudioWorks.TestUtilities.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated Microsoft.NET.Test.Sdk
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove PowerShell 6.x (netcoreapp2.1) tests and replace with PowerShell 7.1 (net5.0)
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use built-in analyzers
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use built-in analyzers
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/ItunesAudioMetadataDecoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/RenameAudioFileTests.cs
  AudioWorks/tests/AudioWorks.Commands.Tests/SaveAudioMetadataTests.cs
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  AudioWorks/tests/AudioWorks.TestUtilities/AudioWorks.TestUtilities.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert accidental change
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/ItunesAudioMetadataDecoder.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update Nuget.Resolver
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

fix #31
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Extensibility/RuntimeChecker.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Configure .NET 5.0 build/testing in the pipelines
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
  net5.0.runsettings
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Was missing the preprocessing of net462.runsettings
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Correct syntax
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct TFMs on non-Windows
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try performMultiLevelLookup
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml
