Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

azure-pipelines-linux.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: runtime
      version: 2.1.x
    displayName: Install .NET Core 2.1 runtime
  - task: UseDotNet@2
    inputs:
      packageType: runtime
      version: 3.1.x
    displayName: Install .NET Core 3.1 runtime
  - task: DotNetCoreCLI@2
  ...

azure-pipelines-macos.yml:
  pool:
    vmImage: macOS-latest
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: AudioWorks/AudioWorks.sln
      arguments: --configuration $(buildConfiguration)
    displayName: Build $(buildConfiguration) configuration
  - task: DotNetCoreCLI@2
    inputs:
      command: pack
  ...

azure-pipelines-windows.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
      performMultiLevelLookup: true
    displayName: Use .NET 5.0 SDK
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: AudioWorks\AudioWorks.sln
  ...

Fix variadic function behavior on arm64
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/Encoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/SafeNativeMethods.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Bump minor version
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.psd1
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct arm64 calling convention hack
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/Encoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/SafeNativeMethods.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated hashes for MacOS 11 / ARM
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Re-sign scripts
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.format.ps1xml
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.psm1
  AudioWorks/src/AudioWorks.Commands/PublishModule.ps1
  AudioWorks/src/Extensions/PublishLocally.ps1
  AudioWorks/src/Extensions/UseLocalRepository.ps1
  AudioWorks/src/Extensions/UseRemoteRepository.ps1
  AudioWorks/tests/AudioWorks.Commands.Tests/CopyModule.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Trivial change
  AudioWorks/src/AudioWorks.Commands/docs/Export-AudioFile.md
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Select the macos 12 arm binaries on Monterey
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/LameLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Ebur128LibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix issue with copying artifacts since renaming branch
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Justify some optimizations in comments
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusAudioInfoDecoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisAudioInfoDecoder.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Resolve CA2254 warnings re: logging messages
  AudioWorks/src/AudioWorks.Api/AudioFile.cs
  AudioWorks/src/AudioWorks.Api/EncodedPath.cs
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
  AudioWorks/src/AudioWorks.Api/TaggedAudioFile.cs
  AudioWorks/src/AudioWorks.Extensibility/ExtensionAssemblyResolver.cs
  AudioWorks/src/AudioWorks.Extensibility/ExtensionContainer.cs
  AudioWorks/src/AudioWorks.Extensibility/ExtensionContainerBase.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/CoreAudioHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Ebur128LibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Additional logging changes
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/LameLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Logging message improvements
  AudioWorks/src/AudioWorks.Extensibility/ExtensionAssemblyResolver.cs
  AudioWorks/src/AudioWorks.Extensibility/ExtensionLoadContext.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/CoreAudioHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/LameLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Ebur128LibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

More logging corrections.
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/CoreAudioHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/LameLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Ebur128LibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Set ThrowOnUnmappableChar = true when using CharSet.Ansi
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/SafeNativeMethods.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Require signed extensions by default
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
  AudioWorks/src/AudioWorks.Common/settings.json
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Improved handling of configuration settings
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
  AudioWorks/src/AudioWorks.Api/ExtensionProviderWrapper.cs
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Common/ConfigurationManager.cs
  AudioWorks/src/AudioWorks.Common/LibraryConfiguration.cs
  AudioWorks/src/AudioWorks.Common/settings.json
  AudioWorks/src/Extensions/UsePrerelease.ps1
  AudioWorks/src/Extensions/UseRemoteRepository.ps1
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated Windows binaries
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/win-x64/FLAC.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/win-x86/FLAC.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/win-x64/lame.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/win-x86/lame.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/win-x64/ogg.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/win-x64/opus.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/win-x64/opusenc.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/win-x86/ogg.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/win-x86/opus.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/win-x86/opusenc.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/win-x64/ebur128.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/win-x86/ebur128.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/win-x64/ogg.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/win-x64/vorbis.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/win-x86/ogg.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/win-x86/vorbis.dll
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use a self-signed key with a pinned fingerprint for trusting extensions
  AudioWorks/src/AudioWorks.Common/LibraryConfiguration.cs
  AudioWorks/src/Extensions/ExtensionSigning.pfx
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct dotnet nuget sign command
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct paths on Linux
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Create a helper script for disabling signing requirement for local testing, but don't set it for CI
  AudioWorks/src/Extensions/AllowUnsigned.ps1
  AudioWorks/src/Extensions/UseLocalRepository.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct behavior with TrustedFingerprints
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Sign prerelease extensions as well
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct certificate checking when downloading extensions
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix error when self-signing
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Minor correction
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Undo ineffective workaround
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Updated test dependencies
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated dependencies
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Internal dependency updates
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try to fix pack failure
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Revert unhelpful workaround and try specifying .NET SDK 6.0.303. Should be fixed in 6.0.401.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Should be 6.0.300
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Use SDK 6.0.300 to avoid a build issue (should be fixed in 6.0.401)
  azure-pipelines-linux.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-windows.yml

Remove unnecessary quotes
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Syntax correction
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Remove unnecessary quotes
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Disable extension signing on Linux until it works correctly on a Linux build host
  AudioWorks/src/AudioWorks.Api/ExtensionInstaller.cs
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml
